<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubSnapSRT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SubSnapSRT.Properties.Settings>
            <setting name="redzoneEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="greenzoneEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultFPS" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="greenZoneWidth" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="redZoneWidth" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="stopBeforeShot" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="spotCutPrioritize" serializeAs="String">
                <value>False</value>
            </setting>
        </SubSnapSRT.Properties.Settings>
    </userSettings>
</configuration>